@import "resets";
@import "variables";

@function weights($weight-name) {
  @return map-get($map: $font-weights, $key: $weight-name);
}

body {
  background: $primary-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;

  #{&}__paragraph {
    font-weight: weights(regular);

    &:hover {
      color: lime;
    }
  }
}
